@use "scss/colors";
@use "scss/variables";

.content {
  display: flex;
}

.actions, .description {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing-xl;
}

.actions {
  flex: 0 0 300px;

  .radioButton + .radioButton {
    margin-top: variables.$spacing-xl;
  }

  .input {
    margin: variables.$spacing-xl 0 0 variables.$spacing-xl;
  }
}

.description {
  flex: 1 0 0;
  background-color: colors.$grey-50;

  .secondaryText {
    color: colors.$grey;
    margin-top: variables.$spacing-xl;
  }
}